* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.section {
  padding: 8rem 12px;
  overflow: hidden;
  &__title {
    margin-top: 0;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    &--white {
      color: $white;
    }
  }
  &__subtitle {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: $grey-text;
    &--light {
      color: $grey-light;
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding: 3rem 12px;
  }
}