$white: #fff;
$white-cream: #f7f7f7;

$grey-light: #e6e4e4;
$grey-text: #777;
$grey-bg: #bebebe;
$grey-dark: #373737;

$black: #000;

$gold: #b88b58;

$twitter: #34c5f0;
$linkedIn: #127cb4;
$faceBook: #336297;
$google: #e74237;
$pinterest: #b71c29;
