.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  &--primary {
    border: 1px solid transparent;
    border-radius: 24px;
    background-color: $gold;
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover {
      border: 1px solid $gold;
      background-color: $white;
      color: $gold;
    }
  }
  &--round {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 0;
    color: $white;
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
  }
  &--pricing {
    width: 130px;
    height: 45px;
    margin-top: 2rem;
    border-radius: 20px;
    background-color: $grey-dark;
    color: $white;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: $gold;
    }
  }
  &--up {
    position: absolute;
    top: -13%;
    left: 10px;
    z-index: 100;
    box-shadow: none;
    font-size: 3rem;
  }
}
